:root {
  font-size: 1rem;
  margin: 0;
  padding: 0;

  /* Colors */
  --orange: #e06d5e;
  --green: #138808;
  --cyan: #26c8aa;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

/* Navigation Styles */
nav {
  padding: 0;
  margin: 0;
}
.logo {
  max-width: 100px;
  height: auto;
}

.banner {
  background: url("/images/banner.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
}